extends base 

block content 
  h1 Tour Page
  p This is the tour page of the Natours application. Here you can find detailed information about a specific tour, including its itinerary, price, and reviews from other travelers.